
@{
    ViewBag.Title = "Index";
}


@section header{

    <link rel="stylesheet" type="text/css" href="@Url.Content("/Content/Home.css")">
}


@section mainMenu{

    @{
        Html.RenderPartial("MainMenu/_MainMenu");
    }
}

<!-- Page Content -->
<div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Bienvenido a Pendvlo</h1>
                <p>Tu sistema confiable</p>
                <div id="content">
                    <img src="~/logo.jpeg" alt="Logo">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->
